.w-49{
	width:49% !important;
}

.caro-capt{
	background: rgba(66, 92, 114, 0.5);
}

.carousel-item img{
	object-fit: cover;
  	object-position: center;
  	height: 50vh;
  	overflow: hidden;
}

.footer-dark {
	padding: 50px 0;
	color: #f0f9ff;
	background-color: #1a1a1a;
	margin-top: 100px;
}

.footer-dark h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.footer-dark ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 18px;
	margin-bottom: 0;
}

.footer-dark ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.6;
}

.footer-dark ul a:hover {
	opacity: 0.8;
}

@media (max-width: 767px) {
	.footer-dark .item:not(.social) {
		text-align: center;
		padding-bottom: 20px;
	}
}

.footer-dark .item.text {
	margin-bottom: 36px;
}

@media (max-width: 767px) {
	.footer-dark .item.text {
		margin-bottom: 0;
	}
}

.footer-dark .item.text p {
	opacity: 0.6;
	margin-bottom: 0;
}

.footer-dark .item.social {
	text-align: center;
	margin: auto;
}

@media (max-width: 991px) {
	.footer-dark .item.social {
		text-align: center;
		margin-top: 20px;
	}
}

.footer-dark .item.social>a {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
	margin: 0 8px;
	color: #fff;
	opacity: 0.75;
}

.footer-dark .item.social>a:hover {
	opacity: 0.9;
}

.footer-dark .copyright {
	text-align: center;
	padding-top: 24px;
	opacity: 0.3;
	font-size: 15px;
	margin-bottom: 0;
}

.social_links {
	padding: 1rem;
	border-radius: 0rem;
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sec-head {
	font-family: Product Sans Bold;
	font-size: 60px;
	letter-spacing: -0.04em;
}

.caro {
	margin-top: 130px;
}

#caro-head {
	text-align: center;
	margin-bottom: 30px;
}

.caro-100{
	max-height: 300px;
}

.pro-mw{
	width: 100%;
}

.pro-img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

#service-icon {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}